<div class="container">
    <div class="row">

          <!-- Links Column -->
  <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    <h5 class="text-uppercase">Links</h5>
    <ul class="list-unstyled mb-0">
      <li>
        <a routerLink="/home" class="text-dark">Home</a>
      </li>
      <li>
        <a routerLink="/products" class="text-dark">Product</a>
      </li>
      <li>
        <a routerLink="/setting" class="text-dark">Setting</a>
      </li>
      <li>
        <a routerLink="/about" class="text-dark">About Us</a>
      </li>
    </ul>
  </div>

  <!-- Terms Column -->
  <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    <h5 class="text-uppercase">Terms</h5>
    <ul class="list-unstyled mb-0">
      <li>
        <a href="#!" class="text-dark">Privacy Policy</a>
      </li>
      <li>
        <a href="#!" class="text-dark">Terms of Service</a>
      </li>
    </ul>
  </div>

  <!-- Contact Column -->


<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    <h5 class="text-uppercase">Contact Us</h5>
    <ul class="list-unstyled mb-0">
      <li>
        <a href="#!" class="text-dark">Contact Form</a>
      </li>
      <li>
        <a href="#!" class="text-dark">Email Us</a>
      </li>
    </ul>
  </div>


    </div>
</div>
